<div class="game-catalog">
  <h3 class="game-catalog__title">
    Game catalog
  </h3>
  <div class="row">
    <div class="col">
      <div class="game-catalog__games">
        <app-game class="game"></app-game>
        <app-game class="game"></app-game>
        <app-game class="game"></app-game>
        <app-game class="game"></app-game>
        <app-game class="game"></app-game>
        <app-game class="game"></app-game>
        <app-game class="game"></app-game>
        <app-game class="game"></app-game>
      </div>
    </div>
  </div>
</div>
